
body {
    background-color: rgba(204, 143, 206, 0.736);
}

header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
}

.cell-btn {
    font-size: 100px;
    border: 3px solid rgb(109, 55, 111);
    background-color: rgba(144, 81, 146, 0.736);
}

.names {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.names label {
    font-size: 20px;
}

.names input {
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 27px;
    border: 1px solid lightgray;
    font-size: 15px;
}

.names input:focus {
    border: 1px solid rgb(88, 88, 88);
}

.reset {
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 32px rgba(175, 117, 188, 0.65);
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.reset:hover {
    background-color: rgba(175, 117, 188);
    color: white;
}